:host {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  mat-toolbar {
    font: unset;
  }
  mat-drawer-container {
    flex: 1;
    height: 100%;
    width: 100%;
    display: flex;
    mat-drawer {
      mat-nav-list {
        padding-top: 0;
        mat-list-item {
          mat-icon {
          }
        }
      }
    }
    mat-drawer.full-width {
      width: 100%;
    }
    mat-drawer.fix-width {
      width: 400px;
    }
    mat-drawer-content {
      flex: 1;
      padding: 16px;
      mat-list {
        margin-bottom: 64px;
        mat-list-item {
          overflow-x: auto;
          overflow-y: hidden
        }
      }
    }
  }
}
