<mat-toolbar>
  <button mat-icon-button (click)="opened=!opened">
    <mat-icon>
      menu
    </mat-icon>
  </button>
  <mat-form-field>
    <input type="text" matInput [(ngModel)]="keyword" placeholder="filter" (ngModelChange)="updateFilter()">
  </mat-form-field>
</mat-toolbar>
<mat-drawer-container>
  <mat-drawer mode="side" [opened]="opened" #drawer ngClass.gt-sm="fix-width" ngClass.lt-md="full-width">
    <mat-nav-list *ngIf="filteredMethods">
      <virtual-scroll [items]="filteredMethods" (update)="viewPortItems=$event" [style.height]="(clientHeight-64)+'px'">
        <a mat-list-item *ngFor="let method of viewPortItems" (click)="selectMethod(method)">
          <h3 matLine>{{method.srg}}</h3>
          <p matLine>
            <span>{{method.path}}.{{method.name}}</span>
          </p>
          <mat-icon *ngIf="method===selectedMethod">keyboard_arrow_right</mat-icon>
        </a>
      </virtual-scroll>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <div *ngIf="selectedMethod">
      <mat-list>
        <h3 matSubheader>srg</h3>
        <mat-list-item>
          {{selectedMethod.srg}}
        </mat-list-item>
        <h3 matSubheader>name</h3>
        <mat-list-item>
          {{selectedMethod.name}}
        </mat-list-item>
        <h3 matSubheader>desc</h3>
        <mat-list-item *ngIf="selectedMethod.desc">
          {{selectedMethod.desc}}
        </mat-list-item>
        <h3 matSubheader>path</h3>
        <mat-list-item>
          {{selectedMethod.path}}
        </mat-list-item>
        <h3 matSubheader>params</h3>
        <mat-list-item *ngFor="let param of selectedMethod.params">
          {{param}}
        </mat-list-item>
        <h3 matSubheader>return</h3>
        <mat-list-item>
          {{selectedMethod.ret}}
        </mat-list-item>
        <h3 matSubheader>Access Transformer</h3>
        <mat-list-item ngxClipboard [style.cursor]="'pointer'" (click)="onCopied()"
                       cbContent="public {{selectedMethod.path}} {{selectedMethod.srg}}({{selectedMethod.params.join('')}}){{selectedMethod.ret}} #{{selectedMethod.name}}{{'\n'}}">
          <pre>public {{selectedMethod.path}} {{selectedMethod.srg}}({{selectedMethod.params.join('')}}){{selectedMethod.ret}} #{{selectedMethod.name}}</pre>
        </mat-list-item>
      </mat-list>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
